# EditorConfig is awesome: https://editorconfig.org

# Top-most EditorConfig file
root = true

# Apply to all files
[*]
charset = utf-8
indent_style = space
indent_size = 2
tab_width = 2
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

# Custom configuration for JSON files
[*.json]
indent_style = space
indent_size = 2

# Custom configuration for Markdown files
[*.md]
trim_trailing_whitespace = false

# Custom configuration for JS/TS files
[*.{jsx,tsx,js,ts}]
quote_type = single
